let mapleader = " "

set visualbell
set ignorecase
set incsearch
set number relativenumber

Plug 'tpope/vim-surround'

" Unfortunately this won't work:
"map <C-n> <Action>(EditorDown)
" Go to Settings > Keymap > Editor Actions > Down > Add Keyboard Shortcut
" Same for EditorUp

map gr <Action>(FindUsages)
map gh <Action>(ShowHoverInfo)
map gI <Action>(GotoImplementation)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>cf <Action>(ReformatCode)
map <leader>cg <Action>(Generate)
map <leader>cr <Action>(RenameElement)
map <leader>D <Action>(GotoTypeDeclaration)
map <leader>ds <Action>(FileStructurePopup)
imap <C-Space> <Action>(CodeCompletion)

map <leader>sf <Action>(GotoFile)
map <leader>? <Action>(RecentFiles)
map <leader>sg <Action>(FindInPath)

map <leader>gd <Action>(Compare.SameVersion)
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)

map <Esc> <Action>(HideActiveWindow)
map <S-l> <Action>(NextTab)
map <S-h> <Action>(PreviousTab)
map <leader>bd <Action>(CloseContent)
map <leader>bad <Action>(CloseAllEditors)
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>ft <Action>(ActivateTerminalToolWindow)
map <leader>sd <Action>(ActivateProblemsViewToolWindow)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map [m <Action>(MethodUp)zz
map ]m <Action>(MethodDown)zz
" Extend selection
map <C-Space>     <Action>(EditorSelectWord)
